*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 8px;
  /* background: #192f48; */
}
/* html {
  font-size: 10px;
} */

/* h1 {
}

h1:nth-child(1) {
  border: 1px solid red;
}

h1:nth-child(2) {
  border: 1px solid red;
  margin: 20px;
} */
/*
body {
  background-color: #eaeaea;
}

div {
  display: block;
  width: 100%;
  height: 150px;
}

.module__top {
  margin-bottom: -25px;
  background-color: #ff6b6b;
}

.module__bottom {
  margin-top: 50px;
  background-color: #4e97cd;
} */

/* table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid grey;
  border-collapse: collapse;
}

th,
td {
  padding: 20px;
}

tbody:before {
  display: block;
  height: 15px;
  width: 100%;
  background: transparent;
  content: "";
} */

/* .box {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.box_1,
.box_2 {
  width: 400px;
  height: 600px;
}

.box .box_1 {
  background: linear-gradient(45deg, #009fff, #ec2f4b);
}

.box .box_2 {
  background: linear-gradient(-45deg, #00ff87, #60efff);
}

.box_1::before {
  content: "Hello";
  font-size: 40px;
  width: 200px;
  display: block;
} */

/* .container {
  font-size: 5px;
} */

/* .box {
  width: 10rem;
  font-size: 10px;
  margin: 0 auto;
} */

/* position */
/* .boxes {
  position: relative;
  border: 3px solid lightgrey;
}

.box {
  width: 5rem;
  height: 5rem;
}

.box-one {
  background: deepskyblue;
  list-style: none;
}

.box-two {
  background: deeppink;
}

.box-three {
  background: rgb(242, 255, 0);
} */

/*#  Tartibsiz ro'yxatdagi nuqtalarni olib tashlash */
/* ul {
  list-style: none;
} */

/* .avatar {
  width: 5rem;
  height: 5rem;
  background: gold;
  padding: 30px;
  float: left;
  margin-right: 20px;
}

.clear {
  clear: both;
} */

/* .box {
  width: 100px;
  height: 100px;
  padding: 20px 30px;
  background: red;
  border: 3px solid blue;
  margin: 30px;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#b84848, #78c210);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  list-style-type: none;
} */

/* .wrapper {
  width: 100%;
  height: 100vh;
  background: #192f48;
  padding-top: 137px;
}
.description {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2.8125px;
  text-transform: uppercase;
  color: #ffffff;
}
.title {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -2.52632px;
  color: #ffffff;
  max-width: 611px;
  margin: 49px auto 0 auto;
}
.cards {
}

.card {
}

.card h2 span:nth-child(1) {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: #ffffff;
  vertical-align: super;
}

.card h2 span:nth-child(2) {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -2px;
  color: #ffffff;
} */
/*
a:hover {
  color: red;
}
a:visited {
  color: rgb(255, 0, 221);
  font-size: 30px;
}
a:active {
  color: yellow;
}

a:focus {
  color: rgb(3, 137, 27);
} */
/* a:visited {
  color: deeppink;
} */

/* .container {
  margin: 50px;
  width: 10em;
  font-size: 20px;
  height: 200px;
  border: 3px solid red;
  overflow: auto;
  overflow: hidden auto;
} */

/* .container .box {
  width: 250px;
  height: 250px;
  border: 3px solid rgb(0, 34, 255);
  background: transparent;
} */

/* .container {
  width: 100%;
  border: 4px solid silver;
  position: relative;
}

.container .box {
  width: 5rem;
  height: 5rem;
}
.container .box:nth-child(1) {
  background-color: deeppink;
}

.container .box:nth-child(2) {
  background: yellow;
  position: absolute;
  right: 0;
  bottom: 0;
}
.container .box:nth-child(3) {
  background-color: deepskyblue;
} */

/* .tweet {
  border: 3px solid lightgray;
}

.cf::after {
  content: "";
  clear: both;
  display: block;
}

.tweet .avatar {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  width: max-content;
  float: left;
  margin-right: 15px;
}
.tweet .avatar img {
  width: 15rem;
  height: auto;
}

.tweet p {
  font-size: 18px;
}
.tweet p:nth-of-type(2) {
  margin-top: 40px;
}

.clear {
  clear: both;
} */

/* # FlexBox */
.container {
  border: 3px solid lightgrey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap;
  align-content: center; */
  height: 90vh;
}

.container .box {
  flex-basis: 10rem;
  flex-grow: 1;
  flex-shrink: 1;
  width: 8rem;
  height: 8rem;
  background: gold;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.container .box:nth-child(1) {
  flex-grow: 2;
  flex-shrink: 0;
}
