* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #192f48;
}

.description {
  margin-top: 137px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2.8125px;
  text-transform: uppercase;
  color: #ffffff;
}

.title {
  margin-top: 49px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  /* or 117% */

  text-align: center;
  letter-spacing: -2.52632px;

  color: #ffffff;
}

.container {
  margin-top: 93px;
  margin-bottom: 191px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.container .box {
  width: 350px;
  height: 515px;
  background: deeppink;
  padding: 29px 32px 29px 44px;
}

.container .box:nth-child(1) {
  background: #2b405a;
  border-radius: 6px;
}

.container .box:nth-child(2) {
  background: #fff;
  border-radius: 6px;
}

.container .box p {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 32px;
  letter-spacing: 0.433333px;
  text-transform: uppercase;
  color: #e5e5e5;
}

.container .box .month {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.68px;
  color: #ffffff;
}

.container .box .month sup {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -1.2px;
  color: #ffffff;
}
.container .box .month span {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -2px;
  color: #ffffff;
}

.container .box .text {
  margin-top: 17px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  /* letter-spacing: -0.4px; */
  color: #e5e5e5;
}

/* li {
  opacity: 0.5;
} */
