body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  font-family: "Noto Sans", sans-serif;
  color: white;
  text-align: center;
  letter-spacing: 0.3px;
}

.card {
  width: 40px;
  height: 40px;
  position: relative;
}

.card::before {
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  content: "";
  /* border-radius: 50%; */
  /* border: 3px solid #fff; */
  border-top-color: transparent;
  box-sizing: border-box;
  border-radius: 50%;
  animation: loader 2s linear infinite;
}

.card::after {
  top: 1px;
  left: 1px;

  width: 39px;
  height: 39px;
  position: absolute;
  content: "";
  /* border-radius: 50%; */
  border: 1.5px solid #fff;
  border-top-color: transparent;
  box-sizing: border-box;
  border-radius: 50%;
  animation: loader 2s linear alternate-reverse infinite;
}

@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  width: 5rem;
  height: 4rem;
  background: gold;
  animation: slideLeft 2s linear alternate infinite;
  perspective: 1000px;
}

@keyframes slideLeft {
  from {
    transform: translateY(0px) scaleX(1);
    background-color: deepskyblue;
  }
  to {
    transform: translateY(-100px) scaleX(2.5);
    background-color: deeppink;
  }
}

button {
  width: 100px;
  height: 20px;
  /* transition: all 0.3s linear; */
  transform: translate(0, 0);
  box-shadow: 3px 3px 5px transparent;
  animation: slideLeft 0.3s linear backwards infinite;
}

button:hover {
  transform: translate(-4px, -4px);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

button:active {
  transform: translate(0, 0);
  box-shadow: 3px 3px 5px transparent;
  transition: none;
}

@keyframes slideLeft {
  /* from {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(0) scale(0.6);
  }
  to {
    transform: translateX(-500px) scale(1);
  } */
  /* from {
    opacity: 1;
  }
  to {
    opacity: 0;
  } */
}
