/* .box {
  border: 1px solid deepskyblue;
}
.box:hover ~ h1 {
  color: red;
}

a:active {
  color: red;
}

a:focus {
  color: gold;
}

a:visited {
  color: yellowgreen;
} */

/* p::first-line {
  color: red;
  font-size: 40px;
} */
/*
p::selection {
  color: rgb(0, 255, 81);
  font-size: 40px;
} */

/* .box .box_child::before {
  content: "Oldin";
}

table,
th,
td {
  border: 1px solid red;
}

th,
td {
  padding: 20px;
}
tbody::after {
  display: absolute;
  content: "hello";
  height: 20px;
} */

p {
  color: red;
  font-size: 20px;
}

span {
  color: yellow;
}
