/* p {
  color: blueviolet;
  font-size: 30px;
  color: red;
}
h1 {
  color: bisque;
}

body {
  margin: 0;
}

#lorem {
  color: black;
}

.product {
  color: rgb(69, 191, 62);
}

#lorem {
  color: blueviolet;
} */

a[href^="https"] {
  color: red;
}

.box1 ~ h1 {
  color: dodgerblue;
}

table,
th,
td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 20px;
}

/* .pro {
  width: 200px;
  height: 200px;
  background: radial-gradient(circle at 45px 45px, red, blue);
} */

.pro {
  margin: 50px;
  width: 300px;
  height: 300px;
  background: deepskyblue;
  box-shadow: 0 0 30px grey;
  border: 1px solid red;
}
